@inherits LayoutComponentBase
 
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

        </div>

        <div class="content px-4 mx-auto text-center h-100">
            @Body
        </div>
    </main>
</div>
