@inherits LayoutComponentBase
 
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div class=" mx-auto">
            <div class="text-center">@Body</div>
        </div>
    </main>
</div>
