@inject NavigationManager navigationManager;

<div class="text-light d-inline-block">
    @if (CurrentGames == null)
    {
        <p>No games yet!</p>
    }
    else
    {
        @foreach (var game in CurrentGames)
        {
            <button @onclick="@(()=>navigationManager.NavigateTo($"/SelectedGame/{game.Id}"))" class="btn btn-success">@game.Players.ElementAt(0).Name vs @game.Players.ElementAt(1).Name</button>
        }
    }
</div>

@code {
    [Parameter]
    public List<Game> CurrentGames { get; set; }
}
